<template>
  <section style="margin-left: 10%; margin-right:10%;">
    <h1>Carrito </h1>
    <!-- cart page content -->
    <div class="cart-page">

        <!-- Table Content Start -->
        <table class="table table-cart" id="table">
          <thead class="cart-thead">
            <tr>
              <th class="product-thumbnail">Imagen</th>
              <th class="product-name">Producto</th>
              <th class="product-price">Precio</th>
              <th class="product-price">Cantidad</th>
              <th class="product-subtotal">Sub-Total</th>
              <th class="product-actions">Acciones</th>
            </tr>
          </thead>
          <material-transition-group tag="tbody" v-if="order">
            <tr :key="item.id" v-for="( item, index ) in order.pedido_detalles" :data-index="index">
              <td class="product-thumbnail">
                <img height="140px" width="140px" :src="base_url + 'images/' + item.inventario.imagen_url" alt="cart-image">
              </td>
              <td class="product-name align-middle">
                {{  item.inventario.presentacion.nombre + ' ' + item.inventario.producto.nombre + ' - ' + item.inventario.tamaño + ' ' + item.inventario.medida.nombre }}
              </td>
              <td class="product-price align-middle">
                <span class="amount">
                  {{ '$ ' + item.inventario.precio }}
                </span>
               
              </td>
              <td class="product-quantity align-middle" style="border-top: 0px;">
                <a href="#" class="incr-btn minus" @click="mod_quantity( item.id, 'decrease', item.cantidad, item.inventario.disponible )" style="cursor:pointer;"> - </a>
                <input class="quantity form-control" type="text" v-model="item.cantidad" disabled>
                <a href="#" class="incr-btn plus" @click="mod_quantity( item.id, 'increase', item.cantidad, item.inventario.disponible )" style="cursor:pointer;"> + </a>
              </td>
              <td class="product-subtotal align-middle">
                <span class="amount">
                  $ {{ item.cantidad * item.inventario.precio }}
                </span>
                <span class="amount subtotal"></span>
              </td>
              <td class="align-middle">
                <a class="delete ml-3" @click="remove_detail( item.id )" style="cursor:pointer;">Eliminar del carrito</a>
              </td>
            </tr>
          </material-transition-group>
        </table>
        <div class="footer-cart-list">
          <div class="row align-items-center">
            
            <div class="col-lg-5">
               <div class="cart_totals">
                    <h2 class="align-middle h1"><small>Total</small> <strong><span class="amount"></span><span class="amount2 totalMain" v-html="sumTotal"> </span></strong></h2>

                    <form>
                        <h3>Informacion de contacto:</h3>
                        <div v-if="userId <= 0">
                            <div class="form-group">
                                <input class="form-control form-control-lg" type="text" v-model="nombre" name="nombre" :placeholder="'Ingrese su nombre'">
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-lg" type="email" v-model="email" name="email" :placeholder="'Ingrese su correo'">
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" v-model="ciudad"  name="ciudad" :placeholder="'Ingrese su ciudad'">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" v-model="direccion" name="direccion" :placeholder="'Ingrese su direccion'">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" v-model="longitud" name="longitud" :placeholder="'Ingrese su longitud'">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" v-model="latitud" name="latitud" :placeholder="'Ingrese su latitud'">
                        </div>
                        
                        <a @click="comprar(  )" class="btn btn-primarys">Ordenar</a>
                    </form>
                </div>
            </div>
          </div>
        </div>

    </div>
  </section>
</template>
<script type="application/javascript">
  export default {
    props: ['orderId', 'userId'],
    data(  ) {
      return {
        order_endpoint: '/pedido/',
        endpoint: '/direccion/',
        detail_endpoint: '/pedido/detalle/',
        order: { pedido_detalles: [], },
        base_url: window.location.protocol + "//" + window.location.host + "/",
        nombre: '',
        email: '',
        ciudad: '',
        direccion: '',
        latitud: '',
        longitud: '',
      }
    },
    created(  ) {
      this.fetchOrders(  );
    },
    methods: {
        comprar(  ) {
            let self = this;
            axios( {
                method: 'POST',
                url: self.endpoint,
                data: {
                    user_id: self.userId,
                    nombre: self.nombre,
                    email: self.email,
                    ciudad: self.ciudad,
                    direccion: self.direccion,
                    latitud: self.latitud,
                    longitud: self.longitud,
                },
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
            } ).then( response => {
                if ( response.data != 'error' ) {
                    axios( {
                        method: 'PUT',
                        url: self.order_endpoint + self.orderId,
                        data: {
                            direccion_id: parseInt( response.data ),
                            estado: 1,
                        },
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        },
                    } ).then( response => {
                           window.location.replace( self.base_url + "procesando" );

                    } ).catch( error => {
                        console.log( error );
                    } );
                }
            } ).catch( error => {
               console.log( "setMessage", error );
               
            } );
        },
      fetchOrders(  ) {
        axios.get( this.order_endpoint + this.orderId ).then( ( response ) => {
          this.order = response.data;
          console.log( 'user: ' + this.userId );
        } );
      },
      remove_detail( id ) {
        axios.delete( this.detail_endpoint + id ).then( ( response ) => {
          if( response.data ) {
            window.store.commit( "decrease" );
            this.fetchOrders(  );
          }
        } );
      },
      mod_quantity: function( id, kind, current_value, max_value ) {
        let total;
        if( kind == 'increase' && current_value < max_value) {
          total = current_value + 1;
        } else if( kind == 'decrease' && current_value > 1 ) {
          total = current_value - 1;
        }
        if( total ) {
          axios( {
            method: 'PUT',
            url: this.detail_endpoint +  id ,
            data: {
              id: id,
              cantidad: total,
            },
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
            },
          } ).then( response => {
            if( response.data ) {
              this.fetchOrders(  );
            }
          } ).catch( error => {
            console.log( error );
          } );
        }
      },
    },
    computed: {
      sumTotal(  ) {
        let currency = '$ ';
        let price;
        let cents = this.order.pedido_detalles.reduce( ( acumulator, currentObj ) => {

            price = currentObj.inventario.precio;
          
            return acumulator + ( price * currentObj.cantidad );
        }, 0 );
        //return `${cents.toFixed( 2 )} <i class="${currency}"></i>`;
        return `${currency}${cents}`;
      }
    },
  }
</script>