<template>
    <li class="nav-item">
        <a :href=" base_url + 'carrito' " class="nav-link" :id="orderId" > Carrito: {{ ordersCount }}</a>
    </li>
</template>
<script>
export default {
  props: ["count", "orderId"],
  data(  ) {
    return {
      base_url: window.location.protocol + "//" + window.location.host + "/",
    }
  },
  created(  ) {
    window.store.commit( 'set', this.count );
  },
  computed: {
    ordersCount(  ) {
      return window.store.state.ordersCount;
    }
  }
}
</script>