<template>
    <div class="col-8 col-md-3 text-center" style="margin-bottom:20px;">
       <div class="card">
           <img :src="base_url + 'images/' + product.imagen_url" class="card-img-top" :alt="product.producto.nombre">
           <div class="card-body">
                   <h5 class="card-title">{{ product.presentacion.nombre + ' ' + product.producto.nombre + ' - ' + product.tamaño + ' ' + product.medida.nombre }}</h5>
                   <!--<h5 class="">{{$producto->categoria_id}}</h5>
                   -->
                   <p class="card-text">{{ product.producto.tipo.nombre }}</p>
                    <p class="card-text">{{ product.producto.categoria.nombre }}</p>

                   <p class="card-text">Precio: ${{ product.precio }}</p>
                    
                    <a @click="addToCart" class="btn btn-warning">Añadir al carrito</a>
                    
           </div>
       </div>        
   </div>
</template>
<script>
export default {
    props: {
        product: {
            type: Object
        },
      
    },
    data(  ) {
      return {
        endpoint: '/pedido/detalle',
        base_url: window.location.protocol + "//" + window.location.host + "/",
      }
    },
    created(  ) {
      
    },
    methods: {
        addToCart(  ) {
            let self = this;
            axios( {
                method: 'POST',
                url: this.endpoint,
                data: {
                    inventario_id: this.product.id,
                    cantidad: 1,
                },
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
            } ).then( response => {
                if ( response.data != 'exist' ) {
                    window.store.commit( "increment" );
                    window.store.commit( "setMessage", "Se ha agregado correctamente al carrito de compras." ); 
                    window.store.commit( "setAlertSuccess", false );
                } else {
                    window.store.commit( "setMessage", "Ya esta en su carrito." );
                   
                    window.store.commit( "setAlertWarn", false );
                }          
            } ).catch( error => {
                window.store.commit( "setMessage", error );
                window.store.commit( "setAlertDanger", false );
            } );
        },
    }
}
</script>