<template>
<material-transition-group class="row" style="margin-left:10%; margin-right:10%;">
   <product-component :key="product.id" v-for="( product, index ) in products" v-bind:product="product" :data-index="index">        
   </product-component>
</material-transition-group>
</template>
<script>
export default {
    props: {
      searchData: {
        type: String,
        required: false
      },
    },
    data(  ) {
        return {
            name: 'productos',
            products: [],            
            endpoint: '/inventarios',
            base_url: window.location.protocol + "//" + window.location.host + "/",
        }
    }, 
    created(  ) {
        this.fetchProducts(  );
    },
    methods: {
        fetchProducts(  ) {
            axios.get( this.endpoint ).then( ( response ) => {
                this.products = response.data;
                console.log( response.data );
            } );
        }
    }

}
</script>